body {
  background-color: rgb(242, 243, 244);
  font-family: Montserrat;
  padding-top: 70px;
}

.fa-m {
  font-size: 48px;
}

.title {
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 20px;
  font-size: 32pt;
  text-shadow: 3px 2px rgb(255, 0, 0);
}

.main {
  margin: 20px;
}

.imGraph {
  margin: 20px;
  padding: 10px;
}

p {
  font-size: 20pt;
  color: white;
  text-shadow: 3px 2px rgb(255, 0, 0);
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  max-width: 1000px;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

li a {
  display: block;
  color: rgb(207, 54, 54);
  text-align: center;
  font-size: 13pt;
  padding: 14px 16px;
  text-decoration: none;
}

.imCenter {
  width: 80%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.timeslotBox {
  float: left;
  padding: 10px;
  min-height: 100px;
  min-width: 100px;
  background-color: rgb(255, 255, 255);
}

.panel-header {
  height: 260px;
  padding-top: 80px;
  padding-bottom: 45px;
  background: #5774ac;
  background: linear-gradient(90deg, #fc0101 0, #e08585 60%, #ddb3b3);
  position: relative;
  overflow: hidden
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

hr.sep1 {
  border-top: 3px solid black;
}
