<div class="panel-header">
        <div class="header text-center">
            <h2 class="title">Add Parts Quickly to Jira</h2>
            <p class="category">Tired of adding parts to Jira? This aims to automate that task</a>
            </p>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Click the link below and fill out the google form. Hopefully Zaeem will make sure to run your command and should get back to you on your request
                    </div>
                    <div class="card-body">
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSf2TupnuMXuQT4u5Q97ekjVXE9BCx4YG1D-LWJ2cxV_SJ_BNA/viewform?usp=sf_link" rel="stylesheet">Link to Form <a/>
                    </div>
                </div>
            </div>
        </div>
    </div>