<section class="py-5 bg-image-full" style="background-image: url('./static/images/add_parts_home.JPG'); height: 500px;">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <h1 style="color:white">Add Parts Quikly to Jira</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="jumbotron-fluid">
  <div class="container">
    <div class="text-center">
      <h3>Click the link below and fill out the google form. Hopefully Zaeem (or team lead) will make sure to run your command and should get back to you on your request
      </h3>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSf2TupnuMXuQT4u5Q97ekjVXE9BCx4YG1D-LWJ2cxV_SJ_BNA/viewform?usp=sf_link" rel="stylesheet">Link to Form <a />
    </div>
  </div>
</div>
