<section class="py-5 bg-image-full" style="background-image: url('./static/images/calendar_submit.JPG'); height: 500px;">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <h1 style="color:white">Machining Calendar</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="jumbotron-fluid">
  <div class="container">
    <div class="text-center">
      <br>
      <h4>Submitted! Yay!</h4>
    </div>
  </div>
</div>
