<div class="panel-header">
    <div class="header text-center">
        <h2 class="title">Welcome! This is the main page to the dashboard</h2>
        <p class="category"> Use the links on the left to navigate. If it is down, contact Zaeem</p>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Below are some graphs that provide analysis on Mechanical team progress
                </div>
                <div class="card-body">
                    <div class="imGraph">
                        <img src="../../static/images/Cummalative_Hrs_over_time_per_member.png" alt="time per mem"
                            width="1300" height="900" class="imCenter">
                    </div>
                    <div class="imGraph">
                        <img src="../../static/images/Pareto_machine_time.png" alt="time per mem" width="1300"
                            height="900" class="imCenter">
                    </div>
                    <div class="imGraph">
                        <img src="../../static/images/Pareto_sanding_time.png" alt="time per mem" width="1300"
                            height="900" class="imCenter">
                    </div>
                    <div class="imGraph">
                        <img src="../../static/images/sanding_vs_machining.png" alt="time per mem" width="1300"
                            height="900" class="imCenter">
                    </div>
                    <p class="text">

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>