<div class="panel-header">
    <div class="header text-center">
        <h2 class="title">Machining Calendar</h2>
        <p class="category">Log when people are in the machine shop</a>
        </p>
    </div>
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Mechanical Machining Calendar
                </div>
                <div class="card-body">
                    
                    <form method="POST" action = "/mechanicalCal.html">
                        <div class="row">
                            <div class="columnCal">
                                <h2>Timeslots - This Week</h2>
                                <br></br>
                                <div class="timeslotBox">
                                    <h2>9:00AM - 10:00AM</h2>
                                </div>
                                <br></br>
                                <div class="timeslotBox">
                                    <h2>10:00AM - 11:00AM</h2>
                                </div>
                                <br></br>
                                <div class="timeslotBox">
                                    <h2>11:00AM - 12:00PM</h2>
                                </div>
                                <br></br>
                                <div class="timeslotBox">
                                    <h2>1:00PM - 2:00PM</h2>
                                </div>
                                <br></br>
                                <div class="timeslotBox">
                                    <h2>2:00PM - 3:00PM</h2>
                                </div>
                                <br></br>
                                <div class="timeslotBox">
                                    <h2>3:00PM - 4:00PM</h2>
                                </div>
                                <br></br>
                                <div class="timeslotBox">
                                    <h2>4:00PM - 5:00PM</h2>
                                </div>
                                <br></br>
                                <div class="timeslotBox">
                                    <h2>6:00PM - 7:00PM</h2>
                                </div>
                                <br></br>
                                <div class="timeslotBox">
                                    <h2>7:00PM - 8:00PM</h2>
                                </div>
                                <br></br>
                                <div class="timeslotBox">
                                    <h2>8:00PM - 9:00PM</h2>
                                </div>
                                <br></br>        
                            </div>
                            <div class="columnCal">
                                <h2>Sunday</h2>
                                <br></br>
                                
                            </div>
                            <div class="columnCal">
                                {{ Monday1|safe }}
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Monday 11">
                                    {{ Monday11|safe }}
                                </div>
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Monday 12">
                                    {{Monday12|safe}}
                                </div>
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Monday 13">
                                    {{Monday13|safe}}
                                </div>
                                
                                <br></br>
                                <br></br>
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Monday 21">
                                    {{Monday21|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Monday 22">
                                    {{Monday22|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Monday 23">
                                    {{Monday23|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Monday 24">
                                    {{Monday24|safe}}
                                </div>
                                
                                <br></br>
                                <br></br>
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Monday 31">
                                    {{Monday31|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Monday 32">
                                    {{Monday32|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Monday 33">
                                    {{Monday33|safe}}
                                </div>
                                
                                <br></br>
                            </div>
                            <div class="columnCal">
                                {{ Tuesday1|safe }}
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Tuesday 11">
                                    {{Tuesday11|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Tuesday 12">
                                    {{Tuesday12|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Tuesday 13">
                                    {{Tuesday13|safe}}
                                </div>
                                
                                <br></br>
                                <br></br>
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Tuesday 21">
                                    {{Tuesday21|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Tuesday 22">
                                    {{Tuesday22|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Tuesday 23">
                                    {{Tuesday23|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Tuesday 24">
                                    {{Tuesday24|safe}}
                                </div>
                                
                                <br></br>
                                <br></br>
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Tuesday 31">
                                    {{Tuesday31|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Tuesday 32">
                                    {{Tuesday32|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Tuesday 33">
                                    {{Tuesday33|safe}}
                                </div>
                                
                                <br></br>
                            </div>
                            <div class="columnCal">
                                {{ Wednesday1|safe }}
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Wednesday 11">
                                    {{Wednesday11|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Wednesday 12">
                                    {{Wednesday12|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Wednesday 13">
                                    {{Wednesday13|safe}}
                                </div>
                                
                                <br></br>
                                <br></br>
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Wednesday 21">
                                    {{Wednesday21|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Wednesday 22">
                                    {{Wednesday22|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Wednesday 23">
                                    {{Wednesday23|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Wednesday 24">
                                    {{Wednesday24|safe}}
                                </div>
                                
                                <br></br>
                                <br></br>
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Wednesday 31">
                                    {{Wednesday31|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Wednesday 32">
                                    {{Wednesday32|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Wednesday 33">
                                    {{Wednesday33|safe}}
                                </div>
                                
                                <br></br>
                            </div>
                            <div class="columnCal">
                                {{ Thursday1|safe }}
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Thursday 11">
                                    {{Thursday11|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Thursday 12">
                                    {{Thursday12|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Thursday 13">
                                    {{Thursday13|safe}}
                                </div>
                                
                                <br></br>
                                <br></br>
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Thursday 21">
                                    {{Thursday21|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Thursday 22">
                                    {{Thursday22|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Thursday 23">
                                    {{Thursday23|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Thursday 24">
                                    {{Thursday24|safe}}
                                </div>
                                
                                <br></br>
                                <br></br>
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Thursday 31">
                                    {{Thursday31|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Thursday 32">
                                    {{Thursday32|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Thursday 33">
                                    {{Thursday33|safe}}
                                </div>
                                
                                <br></br>
                            </div>
                            <div class="columnCal">
                                {{ Friday1|safe }}
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Friday 11">
                                    {{Friday11|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Friday 12">
                                    {{Friday12|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Friday 13">
                                    {{Friday13|safe}}
                                </div>
                                
                                <br></br>
                                <br></br>
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Friday 21">
                                    {{Friday21|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Friday 22">
                                    {{Friday22|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Friday 23">
                                    {{Friday23|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Friday 24">
                                    {{Friday24|safe}}
                                </div>
                                
                                <br></br>
                                <br></br>
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Friday 31">
                                    {{Friday31|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Friday 32">
                                    {{Friday32|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Friday 33">
                                    {{Friday33|safe}}
                                </div>
                                
                                <br></br>

                            </div>
                            <div class="columnCal">
                                {{ Saturday1|safe }}
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Saturday 11">
                                    {{Saturday11|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Saturday 12">
                                    {{Saturday12|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Saturday 13">
                                    {{Saturday13|safe}}
                                </div>
                                
                                <br></br>
                                <br></br>
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Saturday 21">
                                    {{Saturday21|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Saturday 22">
                                    {{Saturday22|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Saturday 23">
                                    {{Saturday23|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Saturday 24">
                                    {{Saturday24|safe}}
                                </div>
                                
                                <br></br>
                                <br></br>
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Saturday 31">
                                    {{Saturday31|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Saturday 32">
                                    {{Saturday32|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Saturday 33">
                                    {{Saturday33|safe}}
                                </div>
                                
                                <br></br>
                            </div>
                        </div>

                        <br></br>
                        <div class="row">
                            <div class="columnCal">
                                <h2>Timeslots - Next Week</h2>
                                <br></br>
                                <div class="timeslotBox">
                                    <h2>9:00AM - 10:00AM</h2>
                                </div>
                                <br></br>
                                <div class="timeslotBox">
                                    <h2>10:00AM - 11:00AM</h2>
                                </div>
                                <br></br>
                                <div class="timeslotBox">
                                    <h2>11:00AM - 12:00PM</h2>
                                </div>
                                <br></br>
                                <div class="timeslotBox">
                                    <h2>1:00PM - 2:00PM</h2>
                                </div>
                                <br></br>
                                <div class="timeslotBox">
                                    <h2>2:00PM - 3:00PM</h2>
                                </div>
                                <br></br>
                                <div class="timeslotBox">
                                    <h2>3:00PM - 4:00PM</h2>
                                </div>
                                <br></br>
                                <div class="timeslotBox">
                                    <h2>4:00PM - 5:00PM</h2>
                                </div>
                                <br></br>
                                <div class="timeslotBox">
                                    <h2>6:00PM - 7:00PM</h2>
                                </div>
                                <br></br>
                                <div class="timeslotBox">
                                    <h2>7:00PM - 8:00PM</h2>
                                </div>
                                <br></br>
                                <div class="timeslotBox">
                                    <h2>8:00PM - 9:00PM</h2>
                                </div>
                                <br></br>        
                            </div>
                            <div class="columnCal">
                                <h2>Sunday</h2>
                                <br></br>
                                
                            </div>
                            <div class="columnCal">
                                {{ Monday2|safe }}
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Monday1 111">
                                    {{ Monday111|safe }}
                                </div>
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Monday1 112">
                                    {{Monday112|safe}}
                                </div>
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Monday1 113">
                                    {{Monday113|safe}}
                                </div>
                                
                                <br></br>
                                <br></br>
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Monday1 121">
                                    {{Monday121|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Monday1 122">
                                    {{Monday122|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Monday1 123">
                                    {{Monday123|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Monday1 124">
                                    {{Monday124|safe}}
                                </div>
                                
                                <br></br>
                                <br></br>
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Monday1 131">
                                    {{Monday131|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Monday1 132">
                                    {{Monday132|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Monday1 133">
                                    {{Monday133|safe}}
                                </div>
                                
                                <br></br>
                            </div>
                            <div class="columnCal">
                                {{ Tuesday2|safe }}
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Tuesday1 111">
                                    {{Tuesday111|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Tuesday1 112">
                                    {{Tuesday112|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Tuesday1 113">
                                    {{Tuesday113|safe}}
                                </div>
                                
                                <br></br>
                                <br></br>
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Tuesday1 121">
                                    {{Tuesday121|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Tuesday1 122">
                                    {{Tuesday122|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Tuesday1 123">
                                    {{Tuesday123|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Tuesday1 124">
                                    {{Tuesday124|safe}}
                                </div>
                                
                                <br></br>
                                <br></br>
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Tuesday1 131">
                                    {{Tuesday131|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Tuesday1 132">
                                    {{Tuesday132|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Tuesday1 133">
                                    {{Tuesday133|safe}}
                                </div>
                                
                                <br></br>
                            </div>
                            <div class="columnCal">
                                {{ Wednesday2|safe }}
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Wednesday1 111">
                                    {{Wednesday111|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Wednesday1 112">
                                    {{Wednesday112|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Wednesday1 113">
                                    {{Wednesday113|safe}}
                                </div>
                                
                                <br></br>
                                <br></br>
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Wednesday1 121">
                                    {{Wednesday121|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Wednesday1 122">
                                    {{Wednesday122|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Wednesday1 123">
                                    {{Wednesday123|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Wednesday1 124">
                                    {{Wednesday124|safe}}
                                </div>
                                
                                <br></br>
                                <br></br>
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Wednesday1 131">
                                    {{Wednesday131|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Wednesday1 132">
                                    {{Wednesday132|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Wednesday1 133">
                                    {{Wednesday133|safe}}
                                </div>
                                
                                <br></br>
                            </div>
                            <div class="columnCal">
                                {{ Thursday2|safe }}
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Thursday1 111">
                                    {{Thursday111|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Thursday1 112">
                                    {{Thursday112|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Thursday1 113">
                                    {{Thursday113|safe}}
                                </div>
                                
                                <br></br>
                                <br></br>
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Thursday1 121">
                                    {{Thursday121|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Thursday1 122">
                                    {{Thursday122|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Thursday1 123">
                                    {{Thursday123|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Thursday1 124">
                                    {{Thursday124|safe}}
                                </div>
                                
                                <br></br>
                                <br></br>
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Thursday1 131">
                                    {{Thursday131|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Thursday1 132">
                                    {{Thursday132|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Thursday1 133">
                                    {{Thursday133|safe}}
                                </div>
                                
                                <br></br>
                            </div>
                            <div class="columnCal">
                                {{ Friday2|safe }}
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Friday1 111">
                                    {{Friday111|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Friday1 112">
                                    {{Friday112|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Friday1 113">
                                    {{Friday113|safe}}
                                </div>
                                
                                <br></br>
                                <br></br>
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Friday1 121">
                                    {{Friday121|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Friday1 122">
                                    {{Friday122|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Friday1 123">
                                    {{Friday123|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Friday1 124">
                                    {{Friday124|safe}}
                                </div>
                                
                                <br></br>
                                <br></br>
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Friday1 131">
                                    {{Friday131|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Friday1 132">
                                    {{Friday132|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Friday1 133">
                                    {{Friday133|safe}}
                                </div>
                                
                                <br></br>

                            </div>
                            <div class="columnCal">
                                {{ Saturday2|safe }}
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Saturday1 111">
                                    {{Saturday111|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Saturday1 112">
                                    {{Saturday112|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Saturday1 113">
                                    {{Saturday113|safe}}
                                </div>
                                
                                <br></br>
                                <br></br>
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Saturday1 121">
                                    {{Saturday121|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Saturday1 122">
                                    {{Saturday122|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Saturday1 123">
                                    {{Saturday123|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Saturday1 124">
                                    {{Saturday124|safe}}
                                </div>
                                
                                <br></br>
                                <br></br>
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Saturday1 131">
                                    {{Saturday131|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Saturday1 132">
                                    {{Saturday132|safe}}
                                </div>
                                
                                <br></br>
                                <div class="timeslotBox">
                                    <input class="messageCheckbox" type="checkbox" name="calcheck" value="Saturday1 133">
                                    {{Saturday133|safe}}
                                </div>
                                
                                <br></br>
                            </div>
                        </div>


                        <p><input type = "submit" value = "Submit"></p>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>