<div class="panel-header">
    <div class="header text-center">
        <h2 class="title">Automate Sanding</h2>
        <p class="category">Simply check in the names and automatically log hours to Jira</a>
        </p>
    </div>
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Enter the list of names below that will be logged. Note that it is currently set to 3hr duration. It may take a few seconds to process
                </div>
                <div class="card-body">
                    <div id="checkboxes">
                        <label>Members</label>
                        <br></br>
                        <form method="POST" action = "/sanding.html">
                            <li><input class="messageCheckbox" type="checkbox" name="sandingcheck" value="Alvaro Lee">
                                Alvaro Lee
                            </li>
                            <li><input class="messageCheckbox" type="checkbox" name="sandingcheck"
                                    value="Bedros Janoyan"> Bedros
                                Janoyan</li>
                            <li><input class="messageCheckbox" type="checkbox" name="sandingcheck"
                                    value="Brain McDonagh"> Brian
                                McDonagh</li>
                            <li><input class="messageCheckbox" type="checkbox" name="sandingcheck" value="Bryan Zin">
                                Bryan Zin</li>
                            <li><input class="messageCheckbox" type="checkbox" name="sandingcheck"
                                    value="Cuyler Crandall"> Cuyler
                                Crandall</li>
                            <li><input class="messageCheckbox" type="checkbox" name="sandingcheck" value="Diane Lee">
                                Diane Lee</li>
                            <li><input class="messageCheckbox" type="checkbox" name="sandingcheck" value="Emily Youtt">
                                Emily Youtt
                            </li>
                            <li><input class="messageCheckbox" type="checkbox" name="sandingcheck"
                                    value="Jackson Hardin"> Jackson
                                Hardin</li>
                            <li><input class="messageCheckbox" type="checkbox" name="sandingcheck"
                                    value="Juliette Bendheim">
                                Juliette Bendheim</li>
                            <li><input class="messageCheckbox" type="checkbox" name="sandingcheck" value="Kyle Harris">
                                Kyle Harris
                            </li>
                            <li><input class="messageCheckbox" type="checkbox" name="sandingcheck"
                                    value="Matthew Menis"> Matthew
                                Menis</li>
                            <li><input class="messageCheckbox" type="checkbox" name="sandingcheck" value="Max Li">
                                Max Li</li>
                            <li><input class="messageCheckbox" type="checkbox" name="sandingcheck"
                                    value="Mrinal Thomas"> Mrinal
                                Thomas</li>
                            <li><input class="messageCheckbox" type="checkbox" name="sandingcheck" value="Nikki Hart">
                                Nikki Hart
                            </li>
                            <li><input class="messageCheckbox" type="checkbox" name="sandingcheck" value="Zaeem Rana">
                                Zaeem Rana
                            </li>
                            <br></br>
                            <p><input type = "submit" value = "Submit"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>