<div class="panel-header">
    <div class="header text-center">
        <h2 class="title">Automate Sanding</h2>
        <p class="category">Simply enter a list of names and automatically log hours to Jira</a>
        </p>
    </div>
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Submitted! Yay!
                    <br></br>
                </div>
            </div>
        </div>
    </div>
</div>
