<section class="py-5 bg-image-full" style="background-image: url('./static/images/status_refresh.JPG'); height: 500px;">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <h1 style="color:red">Status of Parts as seen from Jira</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<div class="jumbotron-fluid">
  <div class="container">
    <div class="text-center">
      <br>
      <h4>Status Refreshed! Yay!</h4>
    </div>
  </div>
</div>
